# Classification Predict

In [37]:
# Imports
from IPython.display import Image
from IPython.display import IFrame
from IPython import display
import pandas as pd
import numpy as np

import nltk
import sklearn
import imblearn
import csv
%matplotlib inline

from nltk import TreebankWordTokenizer, SnowballStemmer
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import  word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

from imblearn.metrics import classification_report_imbalanced

from sklearn.preprocessing import LabelBinarizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import VarianceThreshold

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

import string
import urllib
import math
import re

nltk.download('wordnet')
nltk.download('stopwords')

ModuleNotFoundError: No module named 'imblearn'

In [29]:
#Read data
train = pd.read_csv('train.csv')
test = pd.read_sc

In [ ]:
pip install -U imbalanced-learn

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15819 entries, 0 to 15818
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  15819 non-null  int64
 1   message    15819 non-null  object
 2   tweetid    15819 non-null  int64
dtypes: int64(2), object(1)
memory usage: 370.9+ KB

In [32]:
data['sentiment'].unique()

array([ 1,  2,  0, -1])

In [33]:
data['sentiment'].value_counts()

 1    8530
 2    3640
 0    2353
-1    1296
Name: sentiment, dtype: int64

In [34]:
# Remove handles
pattern = r'@[^\s]+'
subs = ''
data['message'] = data['message'].replace(to_replace = pattern, value = subs, regex = True)

# Remove punctuation and numbers
import string
def remove_punctuation_numbers(post):
    punc_numbers = string.punctuation + '0123456789'
    return ''.join([l for l in post if l not in punc_numbers])
data['message'] = data['message'].apply(remove_punctuation_numbers)

In [35]:
data.head()

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesnt think carbon dio...   625221
1          1  Its not like we lack evidence of anthropogenic...   126103
2          2  RT  Researchers say we have three years to act...   698562
3          1  TodayinMaker WIRED   was a pivotal year in the...   573736
4          1  RT  Its  and a racist sexist climate change de...   466954

In [36]:
y = data['sentiment']